.bodi {
  width: 100vw;
  height: 100vh;
  background-color: #DCDCDC;
  overflow: hidden;
}

@font-face {
  font-family: newFont;
  /* src: url(/assets/fonts/tommys.ttf); */
  src: url(/assets/fonts/FakeHope.ttf);

}

@font-face {
  font-family: helvetic;
  /* src: url(/assets/fonts/homeworkpreschooler.ttf); */
  src: url(/assets/fonts/HelveticaNeue.ttc);

}

@font-face {
  font-family: potra;
  /* src: url(/assets/fonts/homeworkpreschooler.ttf); */
  src: url(/assets/fonts/Potra.ttf);
}

/* .fontyHead {
  font-family: newFont;
  font-size: 3vw;
  position: fixed;
  text-align: center;
  left: 44.25vw;
  top: 14.5vh;
  color: white;

} */

#totalAsteroids {
  font-size: 9.5vmin;
  font-family: newFont;
  /* font-family: 'IBM Plex Sans', ; */
}

.todTot {
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 3vmin;
  position: absolute;
  top: 4vmin;
  left: 5vmin;
  text-align: left;
  color: black;
  z-index: 1;
}

.posTot {
  color: black;
  position: fixed;
  top: 4vmin;
  left: 26vmin;
}

#potentiallyHazardous {
  font-size: 9.5vmin;
  font-family: newFont;
  color: #DC143C;
}

/* dekstop */
/* .potHaz {
  font-family: 'IBM Plex Sans';

  font-size: 3vmin;
  position: absolute;
  top: 14vmin;
  left: 83vmin;
  text-align: left;
  color: white;
  z-index: 1;
} */

/* dekstop */
/* .posHaz {
  color: white;
  position: absolute;
  top: 14.5vmin;
  left: 108vmin;
} */

.potHaz {
  font-family: 'IBM Plex Sans';

  font-size: 3vmin;
  position: absolute;
  top: 18vmin;
  left: 5vmin;
  text-align: left;
  color: black;
  z-index: 1;
}

.posHaz {
  color: black;
  position: absolute;
  top: 18vmin;
  left: 26.5vmin;
}

#nonHazardous {
  font-size: 9.5vmin;
  font-family: newFont;
  /* color: #008B8B; */
  color: #008B8B;
}

.nonHaz {
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 3vmin;
  position: absolute;
  top: 55vmin;
  left: 5vmin;
  text-align: left;
  color: black;
  z-index: 1;
}

.posNonHaz {
  color: black;
  position: absolute;
  top: 55vmin;
  left: 26.5vmin;
}

#date {
  font-family: newFont;
  font-size: 2vw;
}


 #hazTimeName {
   color: black;
   font-family: 'IBM Plex Sans';

   font-size: 2.8vmin;
   z-index: 1;
   left: 5vmin;
   top: 30vmin;
   width: 40vmin;

   position: absolute;

  }

/* dekstop */
/* #hazTimeDisplay {
  white-space: pre-wrap;
  font-family: 'IBM Plex Sans';
  font-size: 3.5vmin;
  position: absolute;

  top: 29.5vmin;
  left: 80vmin;

  color: #DC143C;
  display: block;

} */

#hazTimeDisplay {
  white-space: pre-wrap;
  font-family: 'IBM Plex Sans';
  font-size: 2.8vmin;
  position: absolute;

  top: 34vmin;
  left: 5vmin;

  color: #DC143C;
  display: block;

}

#hazMissDist {
  white-space: pre-wrap;
  font-family: 'IBM Plex Sans';
  font-size: 2.8vmin;
  position: absolute;
  /* width: 70vmin; */
  top: 34vmin;
  left: 48vmin;
  /* left: 43vw; */
  /* text-align: left; */
  color: #DC143C;
  /* display: block; */
  /* animation: blink 9s alternate 9s infinite; */
}

#hazMissTitle {
  color: black;
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.8vmin;
  z-index: 1;
  left: 48vmin;
  top: 30vmin;
  position: absolute;
  display: block;
  /* animation: blink 9s alternate 9s infinite; */
}

#hazMiSz {
  white-space: pre-wrap;
  font-family: 'IBM Plex Sans';
  font-size: 2.8vmin;
  position: absolute;
  /* width: 50vmin; */
  top: 34vmin;
  left: 77vmin;
  /* left: 43vw; */
  /* text-align: left; */
  /* color: #008B8B; */
  color: #DC143C;
  display: block;
}

#hazMxSz {
  white-space: pre-wrap;
  font-family: 'IBM Plex Sans';
  font-size: 2.8vmin;
  position: absolute;
  /* width: 50vmin; */
  top: 34vmin;
  left: 90vmin;
  /* left: 43vw; */
  /* text-align: left; */
  /* color: #008B8B; */
  color: #DC143C;
  display: block;
}

#hazSizeTitle {
  color: black;
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.8vmin;
  z-index: 1;
  left: 82vmin;
  top: 25vmin;
  position: absolute;
  display: block;
}

#hazSizeMiMx {
  color: black;
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.8vmin;
  z-index: 1;
  left: 77vmin;
  top: 29.85vmin;
  position: absolute;
  display: block;
}

/* ---- */

#nonHazTimeDisplay {
  white-space: pre-wrap;
  font-family: 'IBM Plex Sans';
  font-size: 2.8vmin;
  position: absolute;
  /* width: 50vmin; */
  top: 71vmin;
  left: 5vmin;
  /* left: 43vw; */
  /* text-align: left; */
  /* color: #008B8B; */
  color: #008B8B;
  display: block;
  /* animation: blink 9s alternate infinite; */
}

/* #nonHazTimeDisplay2 {
  font-family: 'IBM Plex Sans';
  font-size: 3vmin;
  position: absolute;
  width: 1vmin;
  top: 42vmin;
  left: 18vmin;
  /* left: 43vw; */
  /* text-align: left; */
  /* color: #008B8B; */
  /* color: #008B8B; */
/* }  */

#closeApprochNon {
  color: black;
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.8vmin;
  z-index: 1;
  left: 5vmin;
  top: 67vmin;
  position: absolute;
  display: block;
  /* animation: blink 9s alternate infinite; */
}

#nonMissDist {
  white-space: pre-wrap;
  font-family: 'IBM Plex Sans';
  font-size: 2.8vmin;
  position: absolute;
  /* width: 50vmin; */
  top: 71vmin;
  left: 48vmin;
  /* left: 43vw; */
  /* text-align: left; */
  /* color: #008B8B; */
  color: #008B8B;
  display: block;
  /* animation: blink 9s alternate 9s infinite; */
}

#nonMissTitle {
  color: black;
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.8vmin;
  z-index: 1;
  left: 48vmin;
  top: 67vmin;
  position: absolute;
  display: block;
  /* animation: blink 9s alternate 9s infinite; */
}

#noHaMiSz {
  white-space: pre-wrap;
  font-family: 'IBM Plex Sans';
  font-size: 2.8vmin;
  position: absolute;
  /* width: 50vmin; */
  top: 71vmin;
  left: 77vmin;
  /* left: 43vw; */
  /* text-align: left; */
  /* color: #008B8B; */
  color: #008B8B;
  display: block;
}

#noHaMxSz {
  white-space: pre-wrap;
  font-family: 'IBM Plex Sans';
  font-size: 2.8vmin;
  position: absolute;
  /* width: 50vmin; */
  top: 71vmin;
  left: 90vmin;
  /* left: 43vw; */
  /* text-align: left; */
  /* color: #008B8B; */
  color: #008B8B;
  display: block;
}

#nonSizeTitle {
  color: black;
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.8vmin;
  z-index: 1;
  left: 82vmin;
  top: 62.25vmin;
  position: absolute;
  display: block;
}

#nonSizeMiMx {
  color: black;
  font-family: 'IBM Plex Sans';
  /* font-family: newFont; */
  font-size: 2.8vmin;
  z-index: 1;
  left: 77vmin;
  top: 67vmin;
  position: absolute;
  display: block;
}

/* #info {
  color: black;
  font-family: 'IBM Plex Sans';

  font-size: 2.5vmin;

  left: 39vmin;
  top: 174vmin;
  position: absolute;
  display: block;
} */

#neoWise img {
  width: 22vmin;
  top: 4vmin;
  left: 44vmin;
  position: absolute;
  display: block;
}

/* .dot {
  position: fixed;
  background-color: purple;
  border-radius: 50%;
  height: 0.5em;
  width: 0.5em;

  top: 50vh;
  left: 50vw;

  z-index: -1;

  animation: myOrbit linear infinite 6s ;
  /* opacity: 75%; */
/* } */

/* @-webkit-keyframes myOrbit {
    from { transform: rotate(0deg) translateX(240px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(240px) rotate(-360deg); }
} */

/* .earth {
  position: absolute;
  top: 45vh;
  left: 50vw;
  width: 20vmin; */
  /* filter: invert(100%); */
  /* filter: invert(50%) sepia(0); */
  /* z-index: 1;
} */

#time{
  position: absolute;
  font-family: 'IBM Plex Sans';
  font-size: 3vmin;
  top: 2.5vmin;
  right: 0vmin;
  color: orange;
  /* animation: blink 1s alternate infinite; */
  text-align: left;
}

.timeNow{
  position: absolute;
  font-family: 'IBM Plex Sans';
  font-size: 2.2vmin;
  top: 3vmin;
  right: 4vmin;
  color: white;
  /* animation: blink 1s alternate infinite; */
  text-align: left;
}

@media only screen and (min-width: 768px) {
  #nonHazTimeDisplay {
      font-size: 2vmin;
      top: 34vmin;
      left: 102vmin;
  }
  #closeApprochNon {
    font-size: 2vmin;
    top: 30.6vmin;
    left: 102vmin;
  }
  #nonMissTitle {
    font-size: 2vmin;
    top: 30.6vmin;
    left: 137vmin;
  }
  #nonMissDist {
    font-size: 2vmin;
    top: 34vmin;
    left: 137vmin;
  }
  #nonSizeTitle {
    font-size: 2vmin;
    top: 27vmin;
    left: 157vmin;
  }
  #nonSizeMiMx {
    font-size: 2vmin;
    top: 30.6vmin;
    left: 164vmin;
  }
  #noHaMiSz {
    font-size: 2vmin;
    top: 34vmin;
    left: 164vmin;
  }
  #noHaMxSz {
    font-size: 2vmin;
    top: 34vmin;
    left: 174.4vmin;
  }
  .posNonHaz {
    top: 18.5vmin;
    left: 119.5vmin;
  }
  .nonHaz {
    top: 18vmin;
    left: 102vmin;
  }


@-webkit-keyframes blink {
  from { opacity: 0%; }
  to { opacity: 100%; }
}

/* .astApproach {
  position: absolute;
  background-color: #8B0000;
  border-radius: 50%;
  height: 0.3em;
  width: 0.3em; */

  /* top: 50vh; */
  /* left: 9vw; */

  /* z-index: 0;
} */
